.slideshow{           /*styles container that holds all the classes for the automatic sliding section*/
    width: 150vmin;
    position: relative;
    margin: auto;
    margin-bottom: 2%;
    overflow: hidden;
    border-radius: 3rem;
}

.slideshow .slides{    /*styles container that holds all the photos that will slide automatically*/
    width: 100%;
    display: flex;
    animation: slide 16s infinite; /*makes the sliding duration 16 seconds before it loops again*/
}

.slideshow .slides #image{ /*styles the images that will slide automatically*/
    width: 100%;
}

@keyframes slide{  /*enables the images to slide automatically*/
     
    0%{
        transform: translateX(0);  /*keeps image1  still*/
    }

    25%{
        transform: translateX(0); /*keeps image 1 still before transitioning to image 2*/
    }

    30%{
        transform: translateX(-100%); /*keeps image2  still*/
    }

    50%{
        transform: translateX(-100%); /*keeps image 2 still before transitioning to image 3*/
    }

    55%{
        transform: translateX(-200%); /*keeps image3  still*/
    }

    75%{
        transform: translateX(-200%); /*keeps image 3 still before transitioning to image 4*/
    } 

    80%{
        transform: translateX(-300%); /*keeps image4  still*/
    }

    100%{
        transform: translateX(-300%); /*keeps image 4 still before the loop repeats back to image 1*/
    }

}

#Welcome{                /*adds styling to the main title at the beginning of the webpage*/
    text-align: center;
    font-size: 3rem;
    font-family: Starbucks;
    color: rgb(5, 75, 52);
}

#description{             /*adds styling to the main descriptions at the beginning of the webpage*/
    text-align: center;
    font-size: 1rem;
    font-family: Starbucks;
    margin: 5%;
    margin-top: 2%;
    color: rgb(5, 75, 52);
}

.wrapper{              /*styles a container for different sections of paragraphs and photos*/
    padding: 0 15px;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(5, 75, 52);
    gap: 2rem; 
}

.info{        /*styles the texts/information inside the class 'info' and is inside the container (.wrapper)*/ 
    flex: 1;
    margin-right: auto;
    background-size: cover;
    padding: 2%;
    background-color:rgb(5, 75, 52);
    border-radius: 1rem;
    color: rgb(243, 240, 240);
    text-align:justify;
}

.overall img{     /*styles all images under the class tag 'overall'*/
    display: flex;
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    margin: 1rem;
}

