.slideshow{
    width: 150vmin;
    position: relative;
    margin: auto;
    margin-bottom: 2%;
    overflow: hidden;
    border-radius: 3rem;
}

.slideshow .slides{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.slideshow .slides #image{
    width: 100%;
}

@keyframes slide{
     
    0%{
        transform: translateX(0);
    }

    25%{
        transform: translateX(0);
    }

    30%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(-100%);
    }

    55%{
        transform: translateX(-200%);
    }

    75%{
        transform: translateX(-200%);
    }

    80%{
        transform: translateX(-300%);
    }

    100%{
        transform: translateX(-300%);
    }

}

#Welcome{
    text-align: center;
    font-size: 3rem;
    font-family: Starbucks;
    color: rgb(5, 75, 52);
}

#description{
    text-align: center;
    font-size: 1rem;
    font-family: Starbucks;
    margin: 5%;
    margin-top: 2%;
    color: rgb(5, 75, 52);
}

.wrapper{ 
    padding: 0 15px;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(5, 75, 52);
    gap: 2rem; 
}

.info{
    flex: 1;
    margin-right: auto;
    background-size: cover;
    padding: 2%;
    background-color:rgb(5, 75, 52);
    border-radius: 1rem;
    color: rgb(243, 240, 240);
    text-align:justify;
}

.text{
    display: flex;
    padding: 5%;
    text-align: center;
    font-family: Starbucks;
    font-size: 2rem;
    color: rgb(231, 226, 226);
}

.overall img{
    display: flex;
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    margin: 1rem;
}

