@font-face {
    font-family: Starbucks;
    src: url(./Assets/SoDoSans-Black.ttf);
   }

body { 
    background-image: url('./Assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Starbucks;
    margin: 0;
}

header { 
    background-color: rgb(0, 98, 65);
    color: white;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    padding: 1rem 5%;
    background-color: rgb(0, 98, 65);
    margin-bottom: 2rem;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   }
 
button{
      background-color:rgb(6, 79, 54);
      border: none;
      border-radius: 10px;
      font-size: 15px;
      font-family: Starbucks;
      color: rgb(255, 255, 255);
      padding: 1rem;
      margin: 10px;
      height: 50px;
      width: 150px;
      transition: 0.3s;
     }

button:hover{
    background-color: rgb(39, 165, 123);
}

footer{
    position: absolute;
    width: 100%;
    background-color: rgb(0, 98, 65);
    color: white;
}

.footer_content a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin:15px;
}

.footer_content h2{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 15px;
}

.footer_content p{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin:15px;
}

.footer footer_content
{
    display: flex;
    justify-content: space-evenly;
}
 .credits{
   
    text-align: left;
    padding-left: 1rem;
    font-size: 12px;
 }

 #website{
    text-align:center;
    position: relative;
 }

@media(max-width: 600px){
    #Title{
        font-size: 20px;
    }

    button{
        font-size: 12px;
        height: 50px;
        width:70px;
        margin:1px;
        padding: 0.5rem;
    }

    nav {
    padding: 0.5rem;
    padding-bottom: 1rem;
   }

   .credits{
    font-size: 10px;
 }
}


body::-webkit-scrollbar {
  background-color: transparent;
               
}

body::-webkit-scrollbar-track {
  background-color: rgb(6, 58, 40);
  padding: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(26, 145, 105);   
  border-radius: 20px;      
  border: 3px solid rgb(6, 58, 40);
  width: 3px;
}

h2{ 
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    font-size: 2rem;
    color: rgb(243, 240, 240);
}
   


