/* Overall, this stylesheet styles the elements of Branch.html.*/

.Title{                     /*adds styling to the main title at the beginning of the webpage*/
    margin-left: 2rem;
    font-size: 3rem;
    color: rgb(5, 75, 52);
}

h2{                                           /*styles all the h2 tags*/
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    font-size: 2rem;
    color: rgb(243, 240, 240);
}



.wrapper{                            /*a container for different sections of paragraphs and photos*/
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(5, 75, 52);
}

.info{        /*styles the texts/information inside the class 'info' and is inside the container (.wrapper)*/
    flex: 1;
    margin-right: auto;
    background-size: cover;
    padding: 2%;
    background-color:rgb(5, 75, 52);
    border-radius: 1rem;
    color: rgb(243, 240, 240);
    text-align:justify;
    font-size: 12px;
}

#Map{         /*styles the Map Image*/
    width:20%;
    height:20%;
    margin: 2rem;
    border-radius: 1rem;
    transition: 0.5s ease-in;
}

#Map:hover{         /*makes the Map Image increase in size when hovering over it*/
    width: 30%;
}

/*the container that holds the scrollable gallery of Starbucks branches*/
div.scroll-container {
  width: 800px;
  white-space: nowrap;
  background-color: rgb(12, 122, 86);
  overflow: auto;
  border-radius: 1rem;
  padding: 10px;
  margin: 1rem;
}

/*the images in the scrollable gallery of Starbucks branches*/
div.scroll-container img {
  display: inline-block;
  border-radius: 1rem;
  margin: 15px;
  width:800px;
  height: 450px;
}


div.scroll-container::-webkit-scrollbar {           /*Styles the scrollbar of the webpage*/
  background-color: transparent;              
}

div.scroll-container::-webkit-scrollbar-track {     /*Styles the scrollbar-track of the webpage*/
  background-color: rgb(12, 122, 86);
  padding: 2px;
}

div.scroll-container::-webkit-scrollbar-thumb {     /*Styles the scrollbar-thumb of the webpage*/
  background-color: rgb(14, 68, 50);   
  border-radius: 20px;      
  border: 3px solid rgb(12, 122, 86);
  width: 3px;
}

/*styles the link that leads to the official Starbucks website*/
#stores:link {
  display:flex;
  width: 170px;
  text-decoration: none;
  color: rgb(243, 240, 240);
  background-color: rgb(10, 77, 55);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

#stores:visited {
  display:flex;
  width: 170px;
  text-decoration: none;
  color: rgb(243, 240, 240);
  background-color: rgb(47, 186, 139);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  
}

#stores:hover {
  display:flex;
  width: 170px;
  background-color: rgb(31, 140, 103);
  margin: 1rem;
  text-decoration: none;
}

#stores:active {
  display:flex;
  width: 170px;
  text-decoration: none;
  margin: 1rem;
}

@media(max-width:600px){
    
.wrapper{
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width:90%;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.info{
    font-size:12px;
    padding:1rem;
}

.info h2{
  font-size: 16px;
}

#Map{
    width: 80%;
    height: auto;
    margin: auto;
}

#Map:hover{
    width: 80%;
    height: auto;
}

div.scroll-container img {
  display: inline-block;
  border-radius: 1rem;
  margin: 15px;
  width:50%;
  height: 50%;
}

div.scroll-container {
  width: 800px;
  white-space: nowrap;
  background-color: rgb(12, 122, 86);
  overflow: auto;
  border-radius: 1rem;
  padding: 10px;
  margin: auto;
 
}

}