
.Title{
    margin-left: 2rem;
    font-size: 3rem;
    color: rgb(5, 75, 52);
}

#Branch{
    margin-left: 2rem;
    font-size: 3rem;
    color: rgb(5, 75, 52);
}

.wrapper{ 
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(5, 75, 52);
}

.info{
    flex: 1;
    margin-right: auto;
    background-size: cover;
    padding: 2%;
    background-color:rgb(5, 75, 52);
    border-radius: 1rem;
    color: rgb(243, 240, 240);
    text-align:justify;
}

#header{
    padding: 0 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-around;
    gap: 1rem;
    margin-right: auto;
    color: rgb(243, 240, 240);
  }

  
  #Map{
    width:20%;
    height:20%;
    margin: 2rem;
    border-radius: 1rem;
    transition: 0.5s ease-in;
}

#Map:hover{ 
    width: 30%;
}

div.scroll-container {
  width: 800px;
  white-space: nowrap;
  background-color: rgb(12, 122, 86);
  overflow: auto;
  border-radius: 1rem;
  padding: 10px;
  margin: 1rem;
}

div.scroll-container img {
  display: inline-block;
  border-radius: 1rem;
  margin: 15px;
  width:800px;
  height: 450px;
}

figcaption{
    display: inline-block;
    margin-right: auto;
    
}

div.scroll-container::-webkit-scrollbar {
  background-color: transparent;
               
}

div.scroll-container::-webkit-scrollbar-track {
  background-color: rgb(12, 122, 86);
  padding: 2px;
}

div.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(14, 68, 50);   
  border-radius: 20px;      
  border: 3px solid rgb(12, 122, 86);
  width: 3px;
}

#stores:link {
  display:flex;
  width: 170px;
  text-decoration: none;
  color: rgb(243, 240, 240);
  background-color: rgb(10, 77, 55);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

#stores:visited {
  display:flex;
  width: 170px;
  text-decoration: none;
  color: rgb(243, 240, 240);
  background-color: rgb(47, 186, 139);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  
}

#stores:hover {
  display:flex;
  width: 170px;
  background-color: rgb(31, 140, 103);
  margin: 1rem;
  text-decoration: none;
}

#stores:active {
  display:flex;
  width: 170px;
  text-decoration: none;
  margin: 1rem;
}

h2{ 
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    font-size: 2rem;
    color: rgb(243, 240, 240);
}