/* Overall, this stylesheet styles the elements of CoffeeBelt.html.*/

.Title{                     /*adds styling to the main title at the beginning of the webpage*/
    margin-left: 2rem;
    font-size: 3rem;
    color: rgb(5, 75, 52);
}

#description{                 /*adds styling to the main descriptions at the beginning of the webpage*/
    text-align: justify;
    font-size: 1rem;
    font-family: Starbucks;
    margin: 2rem;
    margin-top: 2%;
    color: rgb(5, 75, 52);
}

h2{                                        /*styles all the h2 tags*/
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    font-size: 2rem;
    color: rgb(243, 240, 240);
}


.Places{                        /*a container for different sections of paragraphs and photos*/
    display: flex;
    padding: 1rem 5%;
    background-color: rgb(5, 75, 52);
    margin: 2rem;
    border-radius: 1rem;
}

#Latin{                            /*adds styling to the image assigned to id tag 'Latin'*/
    width:20%;
    height:20%;
    margin: 1rem;
    border-radius: 1rem;
    transition: 0.5s ease-in;
}

#Latin:hover{       /*makes the image 'Latin' increase in size when hovering over it*/
    width: 30%;
}

#Africa{                       /*adds styling to the image assigned to id tag 'Africa'*/
    width:20%;
    height:20%;
    margin: 1rem;
    border-radius: 1rem;
    transition: 0.5s ease-in;
}

#Africa:hover{         /*makes the image 'Africa' increase in size when hovering over it*/
    width: 30%;
}

#Asia{                              /*adds styling to the image assigned to id tag 'Asia'*/
    width:20%;
    height:20%;
    margin: 1rem;
    border-radius: 1rem;
    transition: 0.5s ease-in;
}

#Asia:hover{         /*makes the image 'Asia' increase in size when hovering over it*/
    width: 30%;
}

.info{                                      /*styles the texts/information inside the class 'info' and is inside the container (.wrapper)*/
    flex: 1;
    margin-right: auto;
    background-size: cover;
    padding: 2%;
    background-color:rgb(5, 75, 52);
    border-radius: 1rem;
    color: rgb(243, 240, 240);
    text-align:justify;
}
  
#CofBeltMap{                /*adds styling to the image assigned to id tag 'CofBeltMap'*/
    display:flex;
    width: 80%;
    border-radius: 1rem;
    margin: auto;
  }



