.profile {
    width:80%;
    padding:30px;
    margin: auto;
    background-image: linear-gradient(to bottom, rgb(89, 180, 141), rgb(25, 89, 51));
    border-radius:18px;
    box-shadow:0 6px 18px rgba(0,0,0,0.15);
}

.info{
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-right: auto;
}