.Title{
    margin-left: 2rem;
    font-size: 3rem;
    color: rgb(5, 75, 52);
}

#menu1{
    width: 40%;
    border-radius: 1rem;
}

.preview{ 
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#start{
    flex: 1;
    margin-right: auto;
    border-radius: 1rem;
    background-size: cover;
    padding: 2%;
    color: rgb(243, 240, 240);
    text-align:justify;
    background-color:rgb(5, 75, 52);
}
.description{
    display: in;
    flex-wrap: wrap;
    margin-right: auto;
    background-size: cover;
    padding: 2%;
    color: rgb(243, 240, 240);
    text-align:justify;
}

.wrapper{ 
    padding: 0 15px;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(5, 75, 52);
    gap: 2rem; 
}

#drinks{
    width: 15%;
    margin: 2rem;
    transition: 0.5s ease-in;
}

#drinks:hover{
    width:20%;
}

.sections {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 100rem;
    }

#choice{
      font-size: 2rem;
      text-align: left;
      margin: 1rem;
      padding: 3rem;
      width: 400px;
      height: 50%;
}

.links{
    margin: 5rem;
    display: block;
    text-align: center;
    justify-content: center;
}

html{
    scroll-behavior:smooth; 
}

h2{
    margin-right: auto;
    margin-bottom: 0;
    padding: 1rem;
    font-size: 2rem;
    color: rgb(243, 240, 240);
}
