/* Overall, this stylesheet styles the elements of Menu.html.*/


html{                              /*applies smooth scrolling throughout the webpage*/
    scroll-behavior:smooth; 
}

.Title{                        /*adds styling to the main title at the beginning of the webpage*/
    margin-left: 2rem;
    font-size: 3rem;
    color: rgb(5, 75, 52);
}

h2{                                          /*styles all the h2 tags*/
    font-family: "Oswald", sans-serif;
    margin-right: auto;
    margin-left: 1rem;
    margin-bottom: 0;
    font-size: 2rem;
    color: rgb(243, 240, 240);
}

#menu1{
    width: 40%;
    border-radius: 1rem;
}

.preview{ 
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#start{
    flex: 1;
    margin-right: auto;
    border-radius: 1rem;
    background-size: cover;
    padding: 2%;
    color: rgb(243, 240, 240);
    text-align:justify;
    background-color:rgb(5, 75, 52);
}

.description{                /*class that holds all the photos of each menu section*/
    margin-right: auto;
    background-size: cover;
    padding: 2%;
    color: rgb(243, 240, 240);
    text-align:justify;
}

.wrapper{                                /*a container for different sections of paragraphs and photos*/
    padding: 0 15px; 
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(5, 75, 52);
    gap: 2rem; 
}

#drinks{                         /*adds styling to all the images in the menu section*/
    width: 15%;
    margin: 1.5rem;
    transition: 0.5s ease-in;
}

#drinks:hover{     /*makes all images in the menu section increase in sides when hovering over it*/
    width:20%;
}

.sections {                  /*separates each menu choices into grouped section*/
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 100rem;
    }

#choice{                  /*adds styling to the buttons that directs to each menu choice*/
      font-size: 2rem;
      text-align: left;
      margin: 1rem;
      padding: 3rem;
      width: 400px;
      height: 50%;
}

.links{                       /*the container that holds all the buttons under id 'choice'*/
    margin: 5rem;
    display: block;
    text-align: center;
    justify-content: center;
}



