/* Overall, this stylesheet styles the elements of Overview.html.*/

#Origin{                        /*adds styling to the main title at the beginning of the webpage*/
    margin-left: 2rem;
    font-size: 3rem;
    color: rgb(5, 75, 52);
}

h2{                                      /*styles all the h2 tags*/
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    font-size: 2rem;
    color: rgb(243, 240, 240);
}

.wrapper{                             /*styles a container for different sections of paragraphs and photos*/
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem; 
}

.info{                          /*styles the texts/information inside the class 'info' and is inside the container (.wrapper)*/
    flex: 1;
    margin-right: auto;
    background-size: cover;
    padding: 2%;
    background-color:rgb(5, 75, 52);
    border-radius: 1rem;
    color: rgb(243, 240, 240);
    text-align:justify;
}

#origin1{                     /*adds styling to the image assigned to id tag 'origin1'*/                        
    display: flex;
    width: 50%;
    height: 15%;
    border-radius: 1rem;
    margin: 1.5rem;
}

#origin2{                   /*adds styling to the image assigned to id tag 'origin2'*/  
    display: flex;
    width: 30%;
    height: 10%;
    border-radius: 1rem;
    margin: 1.5rem;
}

#origin4{                   /*adds styling to the image assigned to id tag 'origin4'*/  
    display: flex;
    width: 40%;
    height: 20%;
    border-radius: 1rem;
    margin: 1.5rem;
}

#origin5{                    /*adds styling to the image assigned to id tag 'origin5'*/  
    display: flex;
    width: 50%;
    height: 30%;
    border-radius: 1rem;
    margin: 1.5rem;
}

.past{                                    /*styles a container/section that holds the image with the id tag 'origin3*/
    background-color:rgb(5, 75, 52);
    padding: 1rem 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
 
#origin3{                 /*adds styling to the image assigned to id tag 'origin3'*/  
    display: block;
    border-radius: 2rem;
    align-items: center;
    width: 50%;
    height: 20%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Founders{                /*styles a container/section that holds the photos of the 3 founders under the class tag 'founder'*/
    display: flex;
    padding: 1rem 5%;
}

.founder{                  /*adds styling to the 3 image assigned to the class tag 'founder'*/  
    width:30%;
    height:30%;
    margin: auto;
    border-radius: 1rem;
}


