/* Overall, this stylesheet styles the elements of SignUp.html.*/

form{   /*styles the form element that contains the signup fields and buttons*/
    font-size: 15px;
    text-align: center;
    margin: auto;
    width:30%;
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgba(190, 142, 142, 0), rgb(67, 63, 63));
    border-radius: 1rem;
}

h2{ /*styles all the h2 tags*/
    font-size: 3rem;
    color: rgb(5, 75, 52);
}

.input-box{      /*styles the input fields for user's account information*/
    margin: auto;
    padding: 10px;
    width:80%;
    height:20px;
    border-radius: 1rem;
    font-size: 17px;
    font-family:"Oswald", sans-serif;
}

@media(max-width:600px){    /*adjusts the layout and styling of the elements for a smaller screen size*/

form{
    font-size: 15px;
    text-align: center;
    margin: auto;
    width:85%;
    padding: 1rem;
    background-image: linear-gradient(to bottom, rgba(190, 142, 142, 0), rgb(67, 63, 63));
    border-radius: 1rem;
}

}