
/* page title styling */
#title {
    text-align: center;
    font-size: 3em;
    color: rgb(5, 75, 52);
}

/* styles container that holds all creator cards in one row */
.creators-row {
    display: flex;
    gap: 2em;
    padding: 2em;
}

/* individual creator card styling */
.creator-card {
    display: flex;
    flex: 1;
    background-color: rgb(5, 75, 52);
    padding: 2em;
    border-radius: 1em;
    color: white;
    text-align: justify;
    margin-left: 3em;
}

/*styling for creator images inside the cards */
.creator-card img {
    width: 300px;
    height:300px;
    border-radius: 0.8em;
    margin:1rem;
}

.info{                          /*styles the texts/information inside the class 'info' and is inside the container (.wrapper)*/
    flex: 1;
    margin-right: auto;
    background-size: cover;
    padding: 2%;
    background-color:rgb(5, 75, 52);
    border-radius: 1rem;
    color: rgb(243, 240, 240);
    text-align:justify;
}


/*styling for class label */
.class{
    width: 50%;
    background-color: rgb(5, 75, 52);
    border-radius: 0.8em;
    margin-bottom: 1em;  
}

/*styles container for the references section */
.references-container {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: rgb(5, 75, 52);
    padding: 6em;
    color: white;
    border-radius: 1em;
}

/* APA-style reference formatting */
.apa-ref {
    text-align: left;
    line-height: 1.6;

    padding-left: 2rem;
    text-indent: -2rem;

    display: block;
    width: 100%;
    white-space: normal;
    word-break: break-word;
}

h2{                                      /*styles all the h2 tags*/
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    font-size: 2rem;
    color: rgb(243, 240, 240);
}
