* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Starbucks;
}

.overall{
    min-height: 100vh;
    /*background*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color:  rgb(0, 98, 65);
    background-color: rgba(0, 0, 0, 0.434);
    border-radius: 2em;
    padding: 4em 3em;
}
.title{
    font-size: 3em;
}
hr{
    width: 100x;
    background-color: white;
    height: 5px;
    border-radius: 1em;
    border: none;
}
.timer{
    font-size: 10em;
    font-weight: 700;
}
.button-wrapper{
    display: flex;
    gap: 1em
}
button{
    border-radius: 0.5em;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    transform: translateY(-10px);
}
#star{
    background-color: rgb(101, 159, 69);
}
#stop1{
    background-color: rgb(161, 61, 61);
}
#reset{
    background-color: rgb(58, 119, 176);
}

