@font-face {                 /*getting an external font to make it usable when making the website*/
    font-family: Starbucks;
    src: url(../Assets/SoDoSans-Black.ttf);
   }

body {          /*styles the elements inside the body tag*/
    background-image: url('../Assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Starbucks;
    margin: 0;
}

header {       /*styles the elements inside the header tag*/
    background-color: rgb(0, 98, 65);
    color: white;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {       /*styles the links and elements inside the nav tag*/
    padding: 10px;
    background-color: rgb(0, 98, 65);
    margin-bottom: 2rem;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
   }
  
button{      /*styles the buttons present in the navigation bar*/  
      background-color:rgb(6, 79, 54);
      border: none;
      border-radius: 10px;
      font-size: 15px;
      font-family: Starbucks;
      color: rgb(255, 255, 255);
      margin: 5px;
      height: 50px;
      width: 130px;
      transition: 0.3s;
     }

button:hover{       /*makes the buttons change background color when hovering over it*/
    background-color: rgb(39, 165, 123);
}

h2{        /*styles all the h2 tags*/
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    font-size: 2rem;
    color: rgb(243, 240, 240);
}

footer{           /*styles all elements and links inside the footer tag*/
    position: absolute;
    width: 100%;
    background-color: rgb(0, 98, 65);
    color: white;
    margin-top: 1rem;
}

.footer_content a{          /*styles 'a tags' within the class tag 'footer content'*/
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin:15px;
}

.footer_content h2{          /*styles 'h2 tags' within the class tag 'footer content'*/
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 15px;
}

.footer_content p{        /*styles 'p tags' within the class tag 'footer content'*/
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin:15px;
}

.footer .footer_content  /*layouts the footer and footer_content*/
{ 
    display: flex;
    justify-content: space-evenly;
}

 .credits{            /*styles the credits under the class tag 'credits*/
    text-align: left;
    padding-left: 1rem;
    font-size: 12px;
 }

 #website{            /*positions the website copy right to the center*/
    text-align:center;
    position: relative;
    font-size: 1rem;
 }

@media(max-width: 600px){  /*makes the website change sizes depending on the user's screen size*/
    #Title{
        font-size: 20px;
    }

    button{
        font-size: 12px;
        height: 50px;
        width:70px;
        margin:1px;
        padding: 0.5rem;
    }

    nav {
    padding: 0.5rem;
    padding-bottom: 1rem;
   }

   .credits{
    font-size: 10px;
 }
}


body::-webkit-scrollbar {            /*Styles the scrollbar of the website*/
  background-color: transparent;
               
}

body::-webkit-scrollbar-track {      /*Styles the scrollbar-track of the website*/
  background-color: rgb(6, 58, 40);
  padding: 2px;
}

body::-webkit-scrollbar-thumb {       /*Styles the scrollbar-thumb of the website*/
  background-color: rgb(26, 145, 105);   
  border-radius: 20px;      
  border: 3px solid rgb(6, 58, 40);
  width: 3px;
}


   